
#games-rummy h5 {
  margin-bottom: 4px;
}

#games-rummy .card {
  display: inline-block;
  z-index: 10;
}

#games-rummy .card.selected {
  margin-bottom: 12px;
}

#games-rummy .cards-hand {
  display: inline-block;
}

#games-rummy .cards-left {
  vertical-align: center;
  font-size: 0.8em;
}

#games-rummy #game-message {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

#games-rummy input[type="number"] {
  width: 3em;
}


