

<template name="GameNavLinks">
  {{#with currentUser}}
    <li><a href="#">My Games</a>
      <ul>
      {{#each listMyGames}}
        <li><a href="/play/{{_id}}">{{gametype}}-{{truncate _id 4}}</a></li>
      {{else}}
        <li><a href="#">(none)</a></li>
      {{/each}}
      </ul>
    </li>
    <li><a href="#">New Game</a>
      <ul>
      {{#each listGameTypes}}
        <li><a href="/play/new/{{name}}">{{title}}</a></li>
      {{/each}}
      </ul>
    </li>
    <li><a href="/play/find">Find Game</a></li>
    <li><a href="/profile/{{_id}}">Profile</a></li>
  {{/with}}
</template>
 

<template name="GameSelectType">
  {{#if currentGameList}}
    <p>You are playing the following games:</p>
    {{#each currentGameList}}
      <li><a href="/play/{{_id}}">{{gametype}}</a></li>
    {{/each}}
  {{else}}
    <select name="gametype">
      <option value="rummy">Rummy</option>
    </select>
    <button id="game-start">Start</button>
  {{/if}}
</template>


<template name="GameConfigure">
  <h4>Starting New Game</h4>

  <div id="game-add-players">
    <ul>
    <li data-slot="1">Player 1: You</li>
    {{#each slot in slotsList}}
      <li data-slot="{{slot.num}}">
        <label>Player {{slot.num}}</label>
        <select name="type">
          <option value="empty">(empty)</option>
          <option value="computer">Computer</option>
          <option value="invite">Invite</option>
          <option value="open">Open</option>
        </select>
        <input type="text" name="name" list="friends" value="" style="display: none;" />

        {{#if slot.required}}
          <span class="mini-note">(required)</span>
        {{/if}}
      </li>
    {{/each}}
    </ul>

    <datalist id="friends">
      <option value="testfriend">testfriend</option>
      {{#each friend in user.profile.friends}}
        <option value="{{friend}}">{{friend}}</option>
      {{/each}}
    </datalist>
  </div>

  {{#if allowjoins}}
  <div>
    <label>Wait For Everyone?</label>
    <input type="checkbox" name="waitall" value="1" checked />
  </div>
  {{/if}}

  <div>
    <label>Allow Spectators</label>
    <input type="checkbox" name="allowspectators" value="1" />
  </div>


  {{#if configTemplate}}
    <div id="game-extended-options">
      {{> Template.dynamic template=configTemplate}}
    </div>
  {{/if}}

  <button id="game-begin">Begin</button>
</template>


<template name="GameFind">
  <div id="game-find">
    <table>
      <thead>
        <tr>
          <th>Game</th>
          <th>Open</th>
          <th>Players<br/>(Computers)</th>
          <th>Max</th>
          <th>Join</th>
        </tr>
      </thead>
      <tbody>
      {{#each game in list}}
        <tr>
          <td>{{game.gametype}}-{{truncate game._id 4}}</td>
          <td class="right">{{openSlots game}}</td>
          <td class="right">{{fullSlots game}} ({{game.options.computers}})</td>
          <td class="right">{{game.options.maxslots}}</td>
          <td><button class="game-join" type="button" data-id="{{game._id}}">Join</button></td>
        </tr>
      {{else}}
        <tr><td colspan="0">There are no games looking for players. Try starting a new game.</td></tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>


<template name="GameWaiting">
  <h4>Waiting for players to join...</h4>

  <div id="game-waiting">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Type</th>
          <th>Username</th>
          <th colspan="0">Status</th>
        </tr>
      </thead>
      <tbody>
      {{#each slot in data.options.slots}}
        <tr>
          <td>Player {{slot.slot}}:</td>
          <td>{{slot.type}}</td>
          {{#if slot.userId}}
            <td><a href="/profile/{{slot.userId}}">{{slot.name}}</a></td>
          {{else}}
            <td>{{slot.name}}</td>
          {{/if}}
          {{#if isWaiting slot}}
            <td>waiting...</td>
            <td><button type="button" class="game-slot-cancel">Cancel</button></td>
          {{else}}
            <td colspan="0">ready</td>
          {{/if}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>


<template name="GameArea">
  {{#with GameData gameId}}

    <div id="game-area">
      {{#if data.started}}
        {{> Template.dynamic template=template data=data}}
      {{else}}
        {{> GameWaiting}}
      {{/if}}
    </div>

    <div id="game-panel">

      {{> GameWidget_PlayersList data}}

      <div id="game-logs">
        {{#each line in data.logs}}
          {{line}}<br/>
        {{/each}}
      </div>
      {{scrollLogs}}

      <div id="game-chat">
        <input id="game-chat-input" type="text" /><button type="button">Chat</button>
      </div>

      <div id="game-controls">
        {{data.gameinfo}}
        {{#if data.controlsTemplate}}
          {{> Template.dynamic template=data.controlsTemplate}}
        {{/if}}
        {{> GameControls }}
      </div>
    </div>

  {{/with}}
</template>


<template name="GameControls">
  <!-- <button id="game-controls-new">New Game</button> -->
  <button id="game-controls-quit">Quit Game</button>
</template>


<template name="GameWidget_PlayersList">
  <table id="game-players-list">
  {{#each slot in options.slots}}
    <tr>
      <td>{{slot.slot}}:</td>
      {{#if slot.userId}}
        <td><a href="/profile/{{slot.userId}}">{{slot.name}}</a></td>
      {{else}}
        {{#if slot.name}}
          <td>{{slot.name}} {{#if equals slot.type 'computer'}}(computer){{/if}}</td>
        {{else}}
          <td>(empty)</td>
        {{/if}}
      {{/if}}
    </tr>
  {{/each}}
  </table>
</template>

